---
import classNames from "classNames";
import routes from "@store/routes";
import { t } from "@utils/i18next";
import Container from "@components/uiKit/Container.astro";
import Paper from "@components/uiKit/Paper.astro";
import Section from "@components/uiKit/Section.astro";
import Text from "@components/uiKit/Text.astro";
import WithAOS from "@components/utils/WithAOS.astro";
import calculateCellDelay from "@utils/aos/calculateCellDelay";
import variables from "@styles/variables";

export interface Props {
    className?: string;
}

const { className } = Astro.props;

const neuralAdvantageCards = [
    {
        iconSrc: "/layout-assets/images/card-icons/desktop-pulse.svg",
        label: t("@landing.@neuralAdvantages.scanner"),
        description: t("@landing.@neuralAdvantages.scannerDescription"),
    },
    {
        iconSrc: "/layout-assets/images/card-icons/person-available.svg",
        label: t("@landing.@neuralAdvantages.accounts"),
        description: t("@landing.@neuralAdvantages.accountsDescription"),
    },
    {
        iconSrc: "/layout-assets/images/card-icons/handshake.svg",
        label: t("@landing.@neuralAdvantages.balance"),
        description: t("@landing.@neuralAdvantages.balanceDescription"),
    },
    {
        iconSrc: "/layout-assets/images/card-icons/bot.svg",
        label: t("@landing.@neuralAdvantages.automatation"),
        description: t("@landing.@neuralAdvantages.automatationDescription"),
    },
    {
        iconSrc: "/layout-assets/images/card-icons/wallet-outlined.svg",
        label: t("@landing.@neuralAdvantages.income"),
        description: t("@landing.@neuralAdvantages.incomeDescription"),
    },
    {
        iconSrc: "/layout-assets/images/card-icons/data.svg",
        label: t("@landing.@neuralAdvantages.analysis"),
        description: t("@landing.@neuralAdvantages.analysisDescription"),
    },
];

const neuralAdvantageCompanies = [
    {
        logoSrc: "/layout-assets/images/logos/binance.svg",
        name: "Binance",
        subtitle: "exchange / p2p",
    },
    {
        logoSrc: "/layout-assets/images/logos/mexc-global.png",
        name: "MEXC Global",
        subtitle: "exchange",
    },
    {
        logoSrc: "/layout-assets/images/logos/1inch.svg",
        name: "1inch",
        subtitle: "DEX agregator",
    },
    {
        logoSrc: "/layout-assets/images/logos/huobi.svg",
        name: "Huobi",
        subtitle: "exchange",
    },
    {
        logoSrc: "/layout-assets/images/logos/garantex.png",
        name: "Garantex",
        subtitle: "exchange / p2p",
    },
    {
        logoSrc: "/layout-assets/images/logos/pancakeswap.svg",
        name: "PancakeSwap",
        subtitle: "BSC DEX",
    },
    {
        logoSrc: "/layout-assets/images/logos/crypto-com.svg",
        name: "Crypto.com",
        subtitle: "exchange",
    },
    {
        logoSrc: "/layout-assets/images/logos/1sol.png",
        name: "1Sol",
        subtitle: "Solana DEX agregator",
    },
    {
        logoSrc: "/layout-assets/images/logos/kucoin.svg",
        name: "Kucoin",
        subtitle: "exchange",
    },
    {
        logoSrc: "/layout-assets/images/logos/bizlato.png",
        name: "bizlato",
        subtitle: "p2p / telegram bot p2p",
    },
];
---

<Container
    className={classNames(className, "neural-advantages-container")}
    id={routes.index.fragments.advantagesOfNeuralNetwork}
>
    <Section className={"neural-advantages"}>
        <WithAOS animation={"fade-right"}>
            <Text className="neural-advantages__title" variant="h2">
                {t("@landing.@neuralAdvantages.title")}
            </Text>
        </WithAOS>
        <div class="neural-advantages__cards">
            {
                neuralAdvantageCards.map((data, index) => (
                    <WithAOS
                        animation={"fade-up"}
                        delay={calculateCellDelay(index, 3)}
                        adaptive={[
                            {
                                maxWidth: variables.tablet,
                                attrs: {
                                    animation: "fade-up",
                                    delay: calculateCellDelay(index, 2),
                                },
                            },
                            {
                                maxWidth: variables.smallTablet,
                                attrs: {
                                    animation: "fade-right",
                                    delay: 200,
                                },
                            },
                        ]}
                    >
                        <Paper className="neural-advantage-card">
                            <div class="neural-advantage-card__icon-wrapper">
                                <img src={data.iconSrc} alt="" />
                                <img src={data.iconSrc} alt="" />
                            </div>
                            <Text
                                className="neural-advantage-card__title"
                                variant="h4"
                            >
                                {data.label}
                            </Text>
                            <Text
                                className="neural-advantage-card__description"
                                variant="body1"
                                color="text-secondary"
                            >
                                {data.description}
                            </Text>
                        </Paper>
                    </WithAOS>
                ))
            }
        </div>
        <div class="neural-advantages__companies">
            {
                neuralAdvantageCompanies.map((data, index) => (
                    <WithAOS
                        animation={"fade-up"}
                        delay={calculateCellDelay(index, 5)}
                        adaptive={[
                            {
                                maxWidth: variables.tablet,
                                attrs: {
                                    animation: "fade-up",
                                    delay: calculateCellDelay(index, 4),
                                },
                            },
                            {
                                maxWidth: variables.smallTablet,
                                attrs: {
                                    animation: "fade-up",
                                    delay: calculateCellDelay(index, 3),
                                },
                            },
                            {
                                maxWidth: variables.mobile,
                                attrs: {
                                    animation: "fade-right",
                                    delay: calculateCellDelay(index, 2, {
                                        rowsDeltaTime: 100,
                                        columnsDeltaTime: 50,
                                    }),
                                },
                            },
                        ]}
                    >
                        <div class="neural-advantages__company">
                            <Paper
                                className="neural-advantages__company-logo-wrapper"
                                backgroundColor="background-upper3"
                            >
                                <img src={data.logoSrc} alt={data.name} />
                            </Paper>
                            <Text
                                className="neural-advantages__company-name"
                                variant={"h5"}
                            >
                                {data.name}
                            </Text>
                            <Text
                                className="neural-advantages__company-subtitle"
                                variant={"body1"}
                            >
                                {data.subtitle}
                            </Text>
                        </div>
                    </WithAOS>
                ))
            }
        </div>
    </Section>
</Container>

<style lang="scss" is:global>
    @import "../styles/variables.scss";

    .neural-advantages-container {
        background: $color-background;
    }
    .neural-advantages__title {
        text-align: center;
        margin-bottom: 5rem;
    }
    .neural-advantages__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }

    .neural-advantage-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        min-width: 0;
        overflow: hidden;

        &:hover {
            cursor: pointer;

            .neural-advantage-card__icon-wrapper {
                & > img:first-child {
                    transform: translate(-4px, -4px);
                }

                & > img:nth-child(2) {
                    opacity: 1;
                    transform: translate(4px, 4px);
                }
            }
        }
    }

    .neural-advantage-card__icon-wrapper {
        filter: drop-shadow(0px 0px 16px rgba(255, 35, 164, 0.64));

        & > img:first-child {
            filter: drop-shadow(0px 0px 16px rgba(255, 35, 164, 0.64));
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            transition: all $animation-normal;
        }

        & > img:nth-child(2) {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            filter: brightness(0) invert(1);
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            transition: all $animation-normal;
        }
    }

    .neural-advantages__companies {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 1.5rem;
        row-gap: 3.5rem;

        align-items: flex-start;
        justify-content: center;

        margin-top: 5rem;
    }

    .neural-advantages__company {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .neural-advantages__company-logo-wrapper {
        position: relative;
        padding: 0;
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        margin-bottom: 1rem;

        & > img {
            width: 60%; // 3rem
            height: 60%; // 3rem
            z-index: 2;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            width: 72.5%; // 3.625rem
            height: 72.5%; /// 3.625rem
            background: $color-background;
            filter: blur(8px);

            z-index: 1;
        }
    }

    .neural-advantages__company-name {
        text-align: center;
    }

    .neural-advantages__company-subtitle {
        text-align: center;
        color: $color-text-more-secondary;
    }

    @media (max-width: $small-desktop) {
        .neural-advantages__title {
            margin-bottom: 4.25rem;
        }

        .neural-advantages__companies {
            margin-top: 4.5rem;
        }

        .neural-advantages__company-logo-wrapper {
            width: 4.75rem;
            height: 4.75rem;
        }
    }
    @media (max-width: $laptop) {
        .neural-advantages__title {
            margin-bottom: 3.625rem;
        }

        .neural-advantages__companies {
            margin-top: 4rem;
        }

        .neural-advantages__company-logo-wrapper {
            width: 4.5rem;
            height: 4.5rem;
        }
    }

    @media (max-width: $small-laptop) {
        .neural-advantages__title {
            margin-bottom: 3rem;
        }

        .neural-advantages__companies {
            margin-top: 3.375rem;
        }

        .neural-advantages__company-logo-wrapper {
            width: 4.25rem;
            height: 4.25rem;
        }
    }

    @media (max-width: $tablet) {
        .neural-advantages__title {
            margin-bottom: 2.25rem;
        }

        .neural-advantages__cards {
            grid-template-columns: 1fr 1fr;
        }

        .neural-advantages__companies {
            grid-template-columns: repeat(4, 1fr);
            margin-top: 2.75rem;

            & > *:nth-child(9) {
                grid-column: 2;
            }

            & > *:nth-child(10) {
                grid-column: 3;
            }
        }

        .neural-advantages__company-logo-wrapper {
            width: 4rem;
            height: 4rem;
        }
    }
    @media (max-width: $small-tablet) {
        .neural-advantages__title {
            margin-bottom: 1.5rem;
            text-align: left;
        }

        .neural-advantages__cards {
            grid-template-columns: 1fr;
        }

        .neural-advantages__companies {
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5rem;
            margin-top: 2.25rem;

            & > *:nth-child(9) {
                grid-column: unset;
            }

            & > *:nth-child(10) {
                grid-column: unset;
            }
        }

        .neural-advantages__company-logo-wrapper {
            width: 3.75rem;
            height: 3.75rem;
        }
    }

    @media (max-width: $mobile) {
        .neural-advantages__cards {
            gap: 0.75rem;
        }
        .neural-advantages__companies {
            grid-template-columns: repeat(2, 1fr);
        }
    }
</style>
