---
import classNames from "classNames";
import routes from "../store/routes";
import { t, Trans } from "../utils/i18next";
import Container from "./uiKit/Container.astro";
import Paper from "./uiKit/Paper.astro";
import Rating from "./uiKit/Rating.astro";
import Section from "./uiKit/Section.astro";
import Text from "./uiKit/Text.astro";
import WithDragToScroll from "./utils/WithDragToScroll.astro";
import WithAOS from "./utils/WithAOS.astro";

export interface Props {
    className?: string;
}

const { className } = Astro.props;

const reviews = [
    {
        author: {
            avatar: "/layout-assets/images/stubs/transparent.png",
            name: "Александр Иванов",
            role: t("@landing.@reviews.arbitroomUser"),
        },
        rating: 9,
        text: "Проверенный множеством сделок, готовый продукт компании, который точно настраивается на интересующие торговые пары, а так же на крипто площадки, которые необходимо отслеживать. Проверенный множеством сделок, готовый продукт компании, который точно настраивается на интересующие торговые пары, а так же на крипто площадки, которые необходимо отслеживать.",
    },
    {
        author: {
            avatar: "/layout-assets/images/stubs/transparent.png",
            name: "Александр Иванов",
            role: t("@landing.@reviews.arbitroomUser"),
        },
        rating: 9,
        text: "Проверенный множеством сделок, готовый продукт компании, который точно настраивается на интересующие торговые пары, а так же на крипто площадки, которые необходимо отслеживать. Проверенный множеством сделок, готовый продукт компании, который точно настраивается на интересующие торговые пары, а так же на крипто площадки, которые необходимо отслеживать.",
    },
    {
        author: {
            avatar: "/layout-assets/images/stubs/transparent.png",
            name: "Александр Иванов",
            role: t("@landing.@reviews.arbitroomUser"),
        },
        rating: 9,
        text: "Проверенный множеством сделок, готовый продукт компании, который точно настраивается на интересующие торговые пары, а так же на крипто площадки, которые необходимо отслеживать. Проверенный множеством сделок, готовый продукт компании, который точно настраивается на интересующие торговые пары, а так же на крипто площадки, которые необходимо отслеживать.",
    },
];
---

<Section
    className={classNames(className, "reviews")}
    id={routes.index.fragments.clientsAboutUs}
>
    <Container className={"reviews__header"}>
        <WithAOS animation={"fade-right"}>
            <Text className={"reviews__title"} variant={"h2"}>
                {t("@landing.@reviews.title")}
            </Text>
        </WithAOS>
        <WithAOS
            animation={"fade-down"}
            delay={200}
            adaptive={[
                {
                    maxWidth: 650,
                    attrs: {
                        animation: "fade-right",
                    },
                },
            ]}
        >
            <div class={"reviews__amount"}>
                <Text
                    className="reviews__amount-value"
                    as="span"
                    variant={"h3"}
                    color={"secondary-gradient"}
                >
                    1280+
                </Text>
                <Text className="reviews__amount-label" variant={"body1"}>
                    <Trans i18nKey="@landing.@reviews.satisfiedClients">
                        Довольных<br /> клиентов
                    </Trans>
                </Text>
            </div>
        </WithAOS>
    </Container>

    <WithAOS animation={"fade-right"} delay={250}>
        <WithDragToScroll>
            <Container className="reviews__cards">
                {
                    reviews.map((data) => (
                        <Paper className="reviews__card" variant={"flat"}>
                            <div class="reviews__card-author">
                                <div class="reviews__card-avatar-wrapper">
                                    <img src={data.author.avatar} alt="" />
                                </div>
                                <div class="reviews__card-name-role">
                                    <Text
                                        className="reviews__card-name"
                                        variant={"h5"}
                                    >
                                        {data.author.name}
                                    </Text>
                                    <Text
                                        className="reviews__card-role"
                                        variant={"body1"}
                                    >
                                        {data.author.role}
                                    </Text>
                                </div>
                            </div>
                            <Rating
                                className={"reviews__card-rating"}
                                value={data.rating}
                            />
                            <Text
                                className="reviews__card-text"
                                variant={"body1"}
                            >
                                {data.text}
                            </Text>
                        </Paper>
                    ))
                }
            </Container>
        </WithDragToScroll>
    </WithAOS>
</Section>

<script>
    import variables from "../styles/variables";

    // only for desktop
    if (window.innerWidth > variables.smallTablet) {
        window.addEventListener("load", () => {
            const cards = document.querySelector(".reviews__cards");

            if (cards && cards.children.length > 2) {
                const second = cards.children[1];
                second.scrollIntoView({ inline: "center" });
            }
        });
    }
</script>

<style lang="scss" is:global>
    @import "../styles/mixins";

    .reviews__header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 1rem;
        margin-bottom: 4rem;
    }
    .reviews__title {
        width: 50%;
    }
    .reviews__amount {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }

    .reviews__cards {
        display: flex;
        gap: 1.5rem;
        overflow: auto;

        @include invisible-scrollbar;
    }

    .reviews__card {
        min-width: max(50vw, 400px);
        max-width: 953px;

        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .reviews__card-author {
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    .reviews__card-avatar-wrapper {
        width: 5.375rem;
        height: 5.375rem;
        background: $color-background-upper3;
        border-radius: 50%;
        overflow: hidden;

        & > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .reviews__card-role {
        color: $color-text-more-secondary;
    }

    .reviews__card-text {
        color: $color-text-secondary;
    }

    @media (max-width: $small-desktop) {
        .reviews__header {
            margin-bottom: 3.5rem;
        }

        .reviews__card-avatar-wrapper {
            width: 4.875rem;
            height: 4.875rem;
        }
    }
    @media (max-width: $laptop) {
        .reviews__header {
            margin-bottom: 3rem;
        }

        .reviews__card-avatar-wrapper {
            width: 4.375rem;
            height: 4.375rem;
        }
    }
    @media (max-width: $small-laptop) {
        .reviews__header {
            margin-bottom: 2.5rem;
        }

        .reviews__card-avatar-wrapper {
            width: 4rem;
            height: 4rem;
        }
    }
    @media (max-width: $tablet) {
        .reviews__header {
            margin-bottom: 2rem;
        }

        .reviews__card-avatar-wrapper {
            width: 3.5rem;
            height: 3.5rem;
        }
    }
    @media (max-width: $small-tablet) {
        .reviews__header {
            margin-bottom: 1.5rem;
        }

        .reviews__card-avatar-wrapper {
            width: 3rem;
            height: 3rem;
        }

        .reviews__cards {
            gap: 1rem;
        }

        .reviews__card {
            min-width: calc(100% - 1.875rem);
            max-width: unset;
        }

        .reviews__card-name {
            font-size: 1.25rem !important;
            line-height: 1.4 !important;
        }
    }

    @media (max-width: 650px) {
        .reviews__header {
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5rem;
        }

        .reviews__title {
            width: auto;
        }

        .reviews__amount {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.375rem;

            br {
                display: none;
            }
        }
    }

    @media (max-width: $mobile) {
        .reviews__card-text {
            font-size: 0.875rem !important;
        }

        .reviews__cards {
            gap: 0.75rem;
        }

        .reviews__card-author {
            flex-direction: column;
            align-items: flex-start;
            gap: 0.75rem;
        }
    }
</style>
