---
import classNames from "classNames";
import socials from "../store/socials";
import { t } from "../utils/i18next";
import Logo from "./Logo.astro";
import AppBar from "./uiKit/AppBar.astro";
import Drawer, { DrawerTrigger } from "./uiKit/Drawer";
import Icon from "./uiKit/Icon";
import Text from "./uiKit/Text.astro";

export interface Props {
    className?: string;
    menuItems: Array<{
        id: string;
        href: string;
        label: string;
    }>;
    id: string;
}

const { className, menuItems, id } = Astro.props;
---

<Drawer className={classNames(className, "side-menu")} id={id} side={"right"}>
    <AppBar className="side-menu__header">
        <Logo />
        <DrawerTrigger className="side-menu__close" drawerId={id}>
            <Icon iconName="close" />
        </DrawerTrigger>
    </AppBar>
    <div class="side-menu__body">
        <div class="side-menu__actions">
            <slot name="actions" />
        </div>
        <div class="side-menu__items">
            {
                menuItems.map((menuItem) => (
                    <DrawerTrigger
                        as="a"
                        drawerId={id}
                        className="side-menu__item"
                        attrs={{
                            ["href"]: menuItem.href,
                            ["data-key"]: menuItem.id,
                        }}
                    >
                        <Text variant={"body2"} color={"inherit"}>
                            {menuItem.label}
                        </Text>
                    </DrawerTrigger>
                ))
            }
        </div>
    </div>
    <div class="side-menu__footer">
        <div class="side-menu__socials">
            {
                socials.map((social) => (
                    <Text
                        as="a"
                        variant={"body2"}
                        className="side-menu__social"
                        attrs={{
                            href: social.href,
                        }}
                    >
                        {t(social.tkey)}
                    </Text>
                ))
            }
        </div>
        <div class="side-menu__meta">
            <Text variant={"body2"} className={"side-menu__copyright"}>
                © {new Date().getFullYear()} Arbitroom. All rights reserved.
            </Text>
            <Text
                as="a"
                variant={"body2"}
                className={"side-menu__private-policy"}
                attrs={{ href: "#" }}
            >
                {t("@common.privacyPolicy")}
            </Text>
        </div>
    </div>
</Drawer>

<style lang="scss">
    @import "../styles/mixins";

    $side-menu-width: 280px;

    .side-menu {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-left: 2rem;
        padding-bottom: 2rem;
        max-width: 100vw;
    }

    .side-menu__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;

        // desktop width
        width: $side-menu-width;
        max-width: 100%;
        margin-bottom: -1rem;
    }
    .side-menu__close {
        padding: 0.5rem;
        margin: -0.5rem;
        cursor: pointer;
    }

    .side-menu__body {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        // desktop width
        width: $side-menu-width;
        max-width: 100%;
    }
    .side-menu__items {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: -0.5rem 0;
    }
    .side-menu__item {
        padding: 1rem 0.5rem;
        cursor: pointer;
        transition: all $animation-normal;

        &:hover {
            //color: $color-prime-light;
            transform: translateX(0.75rem);
        }

        // @include animated-underaline(0.5rem, 0.5rem, $position: left 0.5rem);
    }

    .side-menu__footer {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 2rem;

        // desktop width
        width: $side-menu-width;
        max-width: 100%;
    }
    .side-menu__socials {
        display: flex;
        flex-wrap: wrap;
        row-gap: 1rem;
        column-gap: 0.5rem;
        max-width: $side-menu-width;
    }
    .side-menu__social {
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        color: $color-text-prime;
        border: 1px solid $color-text-prime;
        border-radius: 2rem;

        // animation
        background: transparent;
        cursor: pointer;
        transition: background $animation-fast;

        &:hover {
            background: $color-action-hover;
        }
    }
    .side-menu__meta {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }
    .side-menu__copyright {
        color: $color-text-more-secondary;
    }

    @media (max-width: $mobile) {
        .side-menu__header,
        .side-menu__body,
        .side-menu__footer {
            // mobile width
            width: 100%;
        }
    }
</style>
