---
import BaseLayout from "./BaseLayout.astro";
import Header, { Props as HeaderProps } from "../components/Header.astro";
import Button from "../components/uiKit/Button.astro";
import SideMenu from "../components/SideMenu.astro";

export interface Props {
    title: string;
    menuItems: HeaderProps["menuItems"];
    menuActionButton: {
        href: string;
        label: string;
    };
}

const { title, menuActionButton, menuItems } = Astro.props;
---

<BaseLayout title={title}>
    <!-- side menu -->
    <SideMenu menuItems={menuItems} id="sideMenu">
        <a slot="actions" href={menuActionButton.href}>
            <Button>
                {menuActionButton.label}
            </Button>
        </a>
    </SideMenu>
    <!-- header -->
    <Header menuItems={menuItems} sideMenuId={"sideMenu"}>
        <a slot="actions" href={menuActionButton.href}>
            <Button>
                {menuActionButton.label}
            </Button>
        </a>
    </Header>
    <!-- welcome block -->
    <div class="welcome-wrapper">
        <slot name="welcome" />
    </div>
    <!-- other content -->
    <slot />
    <!-- footer -->
</BaseLayout>

<style lang="scss">
    @import "../styles/variables.scss";

    .welcome-wrapper {
        height: calc(100vh - #{$header-height-desktop});
        min-height: calc(100vh - #{$header-height-desktop});
        width: 100%;
        max-width: 100vw;
        background: $color-background;
    }

    @media (max-width: $mobile) {
        .welcome-wrapper {
            height: calc(100vh - #{$header-height-desktop});
            min-height: calc(100vh - #{$header-height-desktop});
        }
    }
</style>
